body {
  font-family: "Poppins", sans-serif;
  margin: 0;

  background-color: #05334a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23466883'/%3E%3Cstop offset='1' stop-color='%2305334A'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%230DA5B4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%230DA5B4' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  color: white
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-height: 2rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.form {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 40px;
  min-width: 320px;
}

.form-tarefas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-card h2 {
  font-size: 2rem;
}

.form-input-todo {
  padding: 10px 0 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register {
  display: flex;
  margin-top: 20px;
  font-size: 14px;
}

.register button {
  background: none;
  border: none;
  color: #05334a;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
}

.botao {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  padding: 8px 32px;
  border-radius: 5px;
  gap: 10px;
  background: #05334a;
  color: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  font-family: "Poppins";
  max-width: 100%;
  border: none;
  cursor: pointer;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.todo-list {
  list-style: none;;
  padding: 0;
  align-items: start;
  display: flex;
  flex-direction: column;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  padding: 12px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ced1d3;
}

.todo-list li button {
  background: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid #404142;
  padding: 4px 6px;
  border-radius: 100%;
  cursor: pointer;
  font-size: 8px;
}

.todo-list li button:hover {
  background: #38dd8b;
}
